.page-challenge: .page-width

    .row(ng-if='started')
        .col-6.editor-wrap

            editor(
                workspace,
                ng-model='challenge.code',
                ng-class='{ completed: completed }',
                ng-change='validate()',
                editable='started',
                start-at-line='content.startAt'
                tabbed='true',
                controls='true'
                )

        .col-6.tutorial-wrap

            display(
                reset-fn='restart'
                source='challenge.code',
                workspace,
                mode='"challenge"',
                sharing='completed',
                ng-class='{ disabled: !started }',
                ng-show='!showSolution'
                )

            editor.solution(
                ng-if='showSolution && solution',
                ng-model='solution',
                title='"Solution"'
                ) {{ solution }}

    .modal-overlay(ng-if='gameCompleteOpen')

.modal-overlay(ng-if='nextModal')
    .modal-inner.modal-challenge-info.center

        .cover(ng-style='{ "background-image": "url(/assets/challenges/images/" + next.cover +")" }')

        button.close(ng-click='closeNextModal()'): i.icon-cross

        .detail

            h3 {{ next.title }}

            p.description {{ next.description }}

            p.description.small(ng-if='next.locked') Come back tomorrow to continue this challenge

            a.button.button-success(ng-href='/challenges/{{selectedWorld.id}}' ng-if='next.locked') {{selectedWorld ? 'Back to ' + selectedWorld.name : 'Menu'}}
            a.button.button-success(ng-href='/challenge/{{selectedWorld.id}}/{{next.id}}' ng-if='!next.locked') Start

include partial/mail-preview
